{% extends "rango/base.html" %}
{% block body_block %}
    <div class="loginContainer">
        <h1 class="loginText">Login</h1>
        <form class="form-signin loginForm" role="form" method="post" action=".">
            {% csrf_token %}
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" id="id_username" class="form-control" name="username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="id_password" class="form-control" name="password" required>
            <button class="btn btn-primary btn-block" type="submit" value="Submit" />Sign in</button>
            <input type="hidden" name="next" value="{{ next }}" />
	    </form>
        <p class="goToRegister">
        Not a member?
        <a href="{% url 'registration_register' %}">Register</a>
        </p>
    </div>
{% endblock %}
{% block sidebar_block %}  {% endblock %}