.brandLogo {
  font: 40px "Odibee Sans", cursive;
  letter-spacing: 3px;
  margin-left: 15px;
}

.landingHeader {
  background-color: rgb(228, 228, 228);
  max-width: 100%;
  height: 200px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding-left: 25px;
  margin: 25px;
}

.rangoSays {
  font: 60px Arial;
}

.rangoMsg {
  font: 30px Arial;
}

@media screen and (max-width: 500px) {
  .rangoSays {
    font: 40px Arial;
  }

  .rangoMsg {
    font: 20px Arial;
  }
}

.loginContainer, .registerContainer{
  background-color: rgb(228, 228, 228);
  min-height: calc(100vh - 70px);
}

.loginForm, .registerForm{
  max-width: 350px;
  margin: auto;
}

.loginForm > * {
  margin-top: 10px;
}

.registerForm > * {
  margin-top: 5px;
}

.registerForm > button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.loginText{
  font: 70px Arial;
  padding: 50px;
}

.registerText{
  font: 70px Arial;
  padding: 30px;
}

.goToRegister{
  max-width: 300px;
  margin: auto;
  margin-top: 10px;
}