<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href='{% static "css/style.css" %}' />
    <title>Rango</title>
  </head>

  <body>
    <div>
      {% if category %}
      <h1>{{ category.name }}</h1>
      {% if pages %}
      <ul>
        {% for page in pages %}
        <li><a href="{{page.url}}">{{page.title}}</a></li>
        {% endfor %}
      </ul>
      {% else %}
      <strong> No pages currently in category. </strong>
      {% endif %} {% else %}
      <strong> Specified category does not exist. </strong>
      {% endif %}
    </div>
    <a href='/rango/'>Back to Index</a>
  </body>
</html>
