{% extends 'rango/base.html' %}

{% load rango_template_tags %}

{% block title_block %}
Home
{% endblock %}

{% block body_block %}
<div class="landingHeader">
  <h1 class="rangoSays">Rango says ...</h1>
  {% if user.is_authenticated %}
  <p class="rangoMsg"> howdy {{ user.username }}! </p>
  {% else %}
  <p class="rangoMsg"> hey there partner! </p>
  {% endif %}
</div>

<div class="p-4 container-fluid">
  <div class="card">
    <div class="card-header" style="font-weight: bold;">
      Most Liked Categories
    </div>
    {% if categories %}
    <ul class="list-group list-group-flush">
      {% for category in categories %}
      <li class="list-group-item"> <a href="{% url 'rango:show_category' category.slug %}">{{category.name}}</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <strong>There are no categories present.</strong>
    {% endif %}
  </div>

  <div class="card mt-4">
    <div class="card-header" style="font-weight: bold;">
      Most Viewed Pages
    </div>
    {% if pages %}
    <ul class="list-group list-group-flush">
      {% for page in pages%}
      <li class="list-group-item">
        <a href="{% url 'rango:goto' %}?page_id={{page.id}}">{{page.title}}</a>
        {% if page.views > 1 %}
        <span class="badge bg-primary" style="margin-left: 5px;">{{page.views}} views</span>
        {% elif page.views == 1 %}
        ({{page.views}} view)
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <strong>There are no pages present.</strong>
    {% endif %}
  </div>

  <div>
    {% block sidebar_block %} {% get_category_list category %} {% endblock %}
  </div>

  <p class="mt-4 badge bg-dark" style="font-size: 20px;">No. of Visitors
    <span class="badge bg-success">{{visits}}</span>
  </p>
</div>

{% endblock %}