{% extends 'rango/base.html' %}

{% load static %}

{% block title_block %}
Register
{% endblock %}

{% block body_block %}
    <h1>Register for Rango</h1>
    {% if registered %}
        <p>Rango says: <strong>thank you for registering</strong></p>
        <a href="{% url 'rango:index' %}"> Return to the home page</a><br>
    {% else %}
        <p>Rango says: <strong>register here!</strong></p>
        <form action="{% url 'rango:register' %}" id="user_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{user_form.as_p}}
            {{profile_form.as_p}}

            <input type="submit" value="Register" name="submit">
        </form>
    {% endif %}
{% endblock  %}
{% block sidebar_block %}{% endblock %}